<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
		<div class="panel-heading center">

			<div>
				<%= link_to pins_path do %>
				<span class="glyphicon glyphicon-step-backward" ></span>
				Back
				<% end -%>
			</div>
			
			<%= image_tag @pin.image.url, :class => "img-responsive center-block" %>

			<p>
			  <%= @pin.description %>
			</p>
			<p>
				<strong><%= @pin.user.username%></strong>
			</p>

			<% if current_user && @pin.user == current_user %>
				<p><%= @pin.user.email if @pin.user %></p>
        <%= link_to edit_pin_path(@pin) do %>
          <span class="glyphicon glyphicon-edit" ></span> 
          Edit
        <% end %>
        <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
          Delete
				<% end %>
			<% end %>

		</div>
		</div>
	</div>
</div>

